#root{
    --color-A:#000000;
    --color-B:#272727;
    --color-C:#030D25;
    --color-D:#28C3B6;
    --color-E:#1DE9B6;
    --color-F:#eee;
    --color-ERROR:#FF444B;
}

body {
  font-family: 'Montserrat', sans-serif,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}